@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: $white;
    color: $black;
    font-family: "Roboto", "Helvetica Neue";
}
header {
  position: absolute;
  z-index: 9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 1rem 5rem;

  @media (max-width: $tablet) {
    padding: 0 0 0 1rem;
    
  }

  .logo-nav img{
    @media (max-width: $tablet) {
      width: 150px;
      height: 150px;
    }
  }

  nav {
      display: flex;
      justify-content: space-between;

      @media (max-width: $tablet) {
        margin: 0 2rem 1rem 2rem;
      }
  }
  #hamburguer {
    color: #fff;
    border-top: 3px solid;
    width: 30px;
    cursor: pointer;
    z-index: 102;
    align-self: center;

    @media (min-width: 769px) {
      display: none;
    }

    &::after, &::before {
      content: '';
      display: block;
      width: 30px;
      height: 3px;
      background: currentColor;
      margin-top: 6px;
    }
  }

  ul {
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: .6s;

      @media (max-width: $tablet) {
        display: flex;
        // display: block;
        justify-content: space-evenly;
        flex-direction: column;

        position: absolute;
        top: 0;
        right: 0;

        width: 100%;
        height: 0;

        background: $color-principal;
        z-index: 101;

        visibility: hidden;       
        
        li {
          opacity: 0;
          transition: .6s;
          margin: 0 2rem;
  
          a {
            font-size: 1rem;
            color: #fff;
          }
        }
      }

      li {
          list-style: none;
          margin: 0 1rem;

          a {
              cursor: pointer;
              color: $white;
              text-decoration: none;
              font-size: 1.3rem;

              &:hover {
                color: $color-complementary;
              }
          }
      }
  }

  .active {

    #hamburguer {
      border-top-color: transparent !important;

      &::after {
        transform: rotate(-135deg);
        position: relative;
        top: -9px;
        transition: .3s;
      }

      &::before {
        transform: rotate(135deg);
        transition: .3s;
      }
    }


    ul {
      display: flex;
      height: 60vh;
      visibility: visible;
      overflow-y: auto;

      li {
        opacity: 1;
      }
    }

    
  }
}

#home {
    background-image: url(../images/background-home.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;

    .background-black {
        height: 100vh;
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.49) 40.35%, rgba(0, 0, 0, 0.0171845) 55.46%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          color: $white;
          font-size: 2rem;

          span {
            border-bottom: 6px solid $color-complementary;
          }
        }
    }

    @media (max-width: $tablet) {
      .background-black {
        h4 {
          font-size: 1.5rem;
          margin: 0 2rem;

          span {
            border-bottom: 3px solid $color-complementary;
          }
        }
      }
    }
}

#plant--icon {
  position: absolute;
  top: 93%;
  left: 0;

  @media (max-width: $tablet) {
    img {
      height: 100px;
    }
  }
}

#pizza--icon {
  position: absolute;
  top: 245%;
  right: 5%;

  height: 128.17px;
  width: 128.17px;
  border-radius: 50%;

  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -23px -23px 43px #FFFDF1;
  filter: drop-shadow(0px 4px 50px rgba(159, 62, 62, 0.23));

  img {
    position: relative;
    top: -22px;
    right: 5px;
  }

  @media (max-width: $tablet) {
    height: 120px;
    width: 120px;

    top: 167%;
    right: 5%;

    img {
      height: 130px;
      top: -15px;
      right: 1px;
    }
  }
}

.menu {
  h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    font-weight: 500;
  }
}

.slider .prates {
  margin: 30px;
  
  max-width: 230px;
  height: 320px;
  border: 2px solid $color-complementary;
  border-top: none;
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);

  .image {
    img {
      width: 101%;

      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  p {
    margin-left: 1rem;
    display: block;
  }

  .title-prate {
    font-weight: 500;
    font-size: 1rem;
    margin: .5rem .5rem 1rem 1rem;

    color: $color-principal;
  }

  .descrition-prate {
    max-width: 100%;
    font-size: 14px;

    margin-bottom: 1.5rem;
  }
}

#maps {
  iframe {
    width: 100%;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $color-principal;
  color: $white;
}

#wpp--icon {
  position: fixed;
  right: 2%;
  bottom: 5px;
  cursor: pointer;
  z-index: 99;
}

#contact {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  main {
    width: 100%;
    margin-left: 5rem;

    h2 {
      margin: 1.5rem 0;
    }

    h3 {
      margin: .7rem 0;
      span {
        font-weight: 400;
      }
    }
    #andress {
      display: flex;
      margin-bottom: 1rem;

      p:first-of-type {
        font-weight: 600;
        margin-right: .4rem;
      }
    }
    #numbers {
      p {
        margin: .5rem 0;
      }
    }

  }
  
}


// SLIDER
.lSSlideWrapper {
  min-width: 292px;
}