@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #121214;
  color: #f4f4f4;
  font-family: "Roboto", "Helvetica Neue";
}

#home {
  background-image: url(../images/background-home.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#home .background-black {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(40.35%, rgba(0, 0, 0, 0.49)), color-stop(55.46%, rgba(0, 0, 0, 0.0171845)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.49) 40.35%, rgba(0, 0, 0, 0.0171845) 55.46%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
}

#home header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10rem 1rem 10rem;
}

#home header nav .logo-nav {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Dancing Script';
}

#home header ul {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home header ul li {
  list-style: none;
  margin: 0 1rem;
}

#home header ul li a {
  cursor: pointer;
  color: #f4f4f4;
}

#home header ul li a:hover {
  color: #04d361;
}

#home h1 {
  font-size: 3.1rem;
  font-weight: semi-bold;
  text-align: center;
  margin: 2rem 2rem 1rem 2rem;
  word-spacing: 5px;
  font-family: 'Martel', sans-serif;
  color: #04d361;
}

#home p {
  text-align: center;
}

.menu {
  height: 100vh;
  width: 100%;
}

.menu main {
  max-height: 100vh;
}

.menu main span {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin: .3rem;
  margin-top: 1rem;
}

.menu main h2 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
  font-weight: 500;
}

.menu .cardapio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px 300px;
      grid-template-columns: 300px 300px 300px;
  gap: 4rem;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100vw;
  margin-top: 5rem;
}

.menu .cardapio .prates {
  max-width: 300px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.menu .cardapio .prates p:first-of-type {
  display: inline-block;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 auto;
}

.menu .cardapio .prates p:first-of-type:after {
  content: '';
  display: block;
  width: 100%;
  background-color: #04d361;
  margin-top: .5rem;
  height: 1px;
}

.menu .cardapio .prates p:last-of-type {
  max-width: 100%;
  margin: 1rem .5rem 0 .5rem;
}

.menu .cardapio .prates button {
  margin: 0 auto;
  width: 100%;
  border: none;
  border: 1px solid #f4f4f4;
  background-color: #04d361;
}

.menu .cardapio .prates button:hover {
  background-color: #01853c;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #04d361;
}
/*# sourceMappingURL=style.css.map */